@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: 'FutuBd';
    src: url('../fonts/FutuBd.eot');
    src: url('../fonts/FutuBd.eot') format('embedded-opentype'),
        url('../fonts/FutuBd.woff2') format('woff2'),
        url('../fonts/FutuBd.woff') format('woff'),
        url('../fonts/FutuBd.ttf') format('truetype'),
        url('../fonts/FutuBd.svg#FutuBd') format('svg');
    
}

@font-face {
    font-family: 'FutuBdIt';
    src: url('../fonts/FutuBdIt.eot');
    src: url('../fonts/FutuBdIt.eot') format('embedded-opentype'),
        url('../fonts/FutuBdIt.woff2') format('woff2'),
        url('../fonts/FutuBdIt.woff') format('woff'),
        url('../fonts/FutuBdIt.ttf') format('truetype'),
        url('../fonts/FutuBdIt.svg#FutuBdIt') format('svg');
    
}

@font-face {
    font-family: 'FutuLt';
    src: url('../fonts/FutuLt.eot');
    src: url('../fonts/FutuLt.eot') format('embedded-opentype'),
        url('../fonts/FutuLt.woff2') format('woff2'),
        url('../fonts/FutuLt.woff') format('woff'),
        url('../fonts/FutuLt.ttf') format('truetype'),
        url('../fonts/FutuLt.svg#FutuLt') format('svg');
    
}

@font-face {
    font-family: 'FutuLtIt';
    src: url('../fonts/FutuLtIt.eot');
    src: url('../fonts/FutuLtIt.eot') format('embedded-opentype'),
        url('../fonts/FutuLtIt.woff2') format('woff2'),
        url('../fonts/FutuLtIt.woff') format('woff'),
        url('../fonts/FutuLtIt.ttf') format('truetype'),
        url('../fonts/FutuLtIt.svg#FutuLtIt') format('svg');
    
}

@font-face {
    font-family: 'FuturaLT';
    src: url('../fonts/FuturaLT.eot');
    src: url('../fonts/FuturaLT.eot') format('embedded-opentype'),
        url('../fonts/FuturaLT.woff2') format('woff2'),
        url('../fonts/FuturaLT.woff') format('woff'),
        url('../fonts/FuturaLT.ttf') format('truetype'),
        url('../fonts/FuturaLT.svg#FuturaLT') format('svg');
    
}

@font-face {
    font-family: 'FuturaMedium01';
    src: url('../fonts/FuturaMedium01.eot');
    src: url('../fonts/FuturaMedium01.eot') format('embedded-opentype'),
        url('../fonts/FuturaMedium01.woff2') format('woff2'),
        url('../fonts/FuturaMedium01.woff') format('woff'),
        url('../fonts/FuturaMedium01.ttf') format('truetype'),
        url('../fonts/FuturaMedium01.svg#FuturaMedium01') format('svg');
    
}