//Font Family
$regular_font-family_primary: 'FuturaLT',  sans-serif;
$light_font-family_primary:  'FutuLt' , sans-serif;
$medium_font-family_primary:  'FuturaMedium01' , sans-serif;
$bold_font-family_primary: 'FutuBd', sans-serif;
$black_font-family_primary: sans-serif;

//Font Family Italic
$light_font-family-lt: 'FutuLtIt' , sans-serif;
$bold_font-family-lt: 'FutuBdIt', sans-serif;

//Font Weight
$regular_font-weight: normal;
$light_font-weight: normal;
$medium_font-weight: normal;
$bold_font-weight: normal;
$black_font-weight: normal;

//Roboto Font
$regular_font-family_roboto : 'Roboto', sans-serif;

//Roboto Font Weight
$regular_font-weight_roboto : 400;